# Ignore vitepress shit
vitepress/.vitepress/cache
.vitepress/cache/*
vitepress/.vitepress/dist
node_modules
vitepress/.vitepress/.temp

# Obsidian
.obsidian/

# Sublime
*.sublime-workspace
*.sublime-project
GitHub.sublime-settings

# VsCode
.vscode/
.history/

# JBrains
.idea/

node_modules/.package-lock.json
